* {
    text-decoration: none;
    font-style: normal;
}

.gallery-sortbar {
    background-color: #fff;
    width: 1195px;
    height: 43px;
    border: none;
    margin: auto;
    padding: 20px 0px;
    margin-left:165px;
    margin-bottom: 5px;
}

.gallery-sortbar .gallery-sort {
    float: left;
}

.gallery-sortbar .gallery-sort a {
    font-size: 15px;
    width: 100px;
    height: 43px;
    color: #000;
    border: none;
    background-color: honeydew;
    display: inline-block;
    margin-right: 2px;
    text-align: center;
    line-height: 43px;
}

gallery-sortbar .gallery-sort em {
    display: inline-block;
    height: 43px;
    line-height: 43px;
    border: 0;
    border-right: 1px solid #e6e6e6;
    text-align: center;
    background-color: #fff;
    font-style: normal;
}

.gallery-sort em span.icon {
    margin-left: 5px;
    color: #999;
}

.icon,
.data-icon-before {
    font-family: iconfonts, sans-serif;
}

.gallery-sortbar .gallery-sort .price-desc .asc,
.gallery-sortbar .gallery-sort .price-asc .desc {
    display: none;
}

label {
    cursor: default;
}

select {
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    cursor: default;
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    line-height: 25px;
}

option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

.gallery-sortbar .gallery-showmode {
    padding: 0px;
    height: 43px;
    line-height: 43px;
    float: left;
}

.gallery-showmode em {
    display: block;
    width: 110px;
    height: 43px;
    line-height: 43px;
    text-align: center;
    background-color: honeydew;
    float: left;
    margin: 0px 2px
}

.gallery-showmode em:nth-child(2) {
    width: 140px;
}

.gallery-sortbar .gallery-showmode input {
    margin-left: 10px;
}

input,
button {
    outline: none;
}

input {
    line-height: 21px;
    height: 21px;
}

input[type=checkbox],
input[type=radio] {
    height: 13px;
}

.chk_4 {
    display: none;
}

.chk_4+label.label-for {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #C1CACA;
    box-shadow: 0 1px 2px rgb(0 0 0 / 5%), inset 0px -15px 10px -12px rgb(0 0 0 / 5%);
    border-radius: 1px;
    display: inline-block;
    position: relative;
    width: 13px;
    height: 13px;
    margin-top: 13px !important;
    margin-right: 5px;
}

.gallery-showmode label {
    float: left;
}

.text {
    float: left;
    top: 0;
    z-index: 2;
    height: 43px;
    background-color: ghostwhite;
    padding: 0 20px 0 4px;
    line-height: 43px;
    overflow: hidden;
    text-align: center;
}