<div id="gallery_sortbar" class="gallery-sortbar clearfix">
    <div class="gallery-sort">
        <a href="javascript:void(0);" class="action-sort" data-sort>
            <em>综合排序</em>
        </a>
        <a href="javascript:void(0);" class="action-sort price-desc" data-sort="price desc">
            <em id="priceorder1" class="active">
                价格
                <span class="icon desc new-img-price-g">
                    <img src="https://sundan.com/themes/shundian/images/arr-down.png" alt="">
                </span>
                <span class="icon asc new-img-price-g">
                    <img src="https://sundan.com/themes/shundian/images/arr-up.png" alt="">
                </span>
            </em>
        </a>
        <a href="javascript:void(0);" class="action-sort" data-sort="buy_count desc">
            <em id="priceorder2">
                销量
                <span class="icon desc new-img-price-g">
                    <img src="https://sundan.com/themes/shundian/images/arr-down.png" alt="">
                </span>
            </em>
        </a>
        <label style="display: none;" for>排序:</label>
        <select style="display: none;" name="orderBy" id class="action-orderby">
            <option value>默认</option>
            <option value="price desc">按价格 从高到低</option>
            <option value="price asc">按价格 从低到高</option>
            <option value="view_w_count desc">访问周次数</option>
            <option value="view_count desc">总访问次数</option>
            <option value="buy_count desc">周购买次数</option>
            <option value="buy_w_count desc">总购买次数</option>
        </select>
    </div>
    <div class="gallery-showmode">
        <input type="hidden" name="showtype" value="grid">
        <em>
            <input type="checkbox" name="is_import" id="is_import" class="action-import chk_4">
            <label for="is_import" class="label-for"></label>
            <label for="is_import">仅显示进口商品</label>
        </em>
        <em>
            <input type="checkbox" name="gTag[]" id="action-gtags-914" class="action-gtags chk_4" value="914">
            <label for="action-gtags-914" class="label-for"></label>
            <label for>8.5折清仓</label>
        </em>
        <em>
            <input type="checkbox" name="gTag[]" id="action-gtags-762" class="action-gtags chk_4" value="762">
            <label for="action-gtags-762" class="label-for"></label>
            <label for>7折清仓</label>
        </em><em>
            <input type="checkbox" name="gTag[]" id="action-gtags-764" class="action-gtags chk_4" value="764">
            <label for="action-gtags-764" class="label-for"></label>
            <label for>8折清仓</label>
        </em>
        <em>
            <input type="checkbox" name="gTag[]" id="action-gtags-765" class="action-gtags chk_4" value="765">
            <label for="action-gtags-765" class="label-for"></label>
            <label for>9折清仓</label>
        </em>
        <div class="text">
            <div>广东&nbsp;深圳市&nbsp;龙岗区</div>
        </div>
        <em>
            <input type="checkbox" name="is_store" id="is_store" class="action-available chk_4">
            <label for="is_store" class="label-for"></label>
            <label for="is_store">仅显示有货</label>
        </em>
    </div>
</div>