<div class="new_floor_item_ad">
  <div class="new_floor_item_ad_left">
    <a href="#" target="_blank"><img
        src="https://www.sundan.com/public/images/13/2a/fd/3b1c2af7ebcb8482b7e29436ff7c59668bc12ff6.jpg?1606722072#w"
        alt=""></a>
  </div>
  <div class="new_floor_item_ad_right">
    <a href="#" target="_blank"><img
        src="https://www.sundan.com/public/images/f6/ff/a7/26b2a61a504f3a045cde520eedb7e31077aa79a3.jpg?1606722084#w"
        alt=""></a>
  </div>
</div>

<div class="new_floor_item_product">
  <ul>
    <li>
      <div class="new_floor_pro_tag_box">
        <p class="new_floor_pro_tag new_floor_pro_tag3">送赠品</p>
      </div>
      <div class="new_floor_item_bodybanner">
        <a href="./goods-list.html" target="_blank"><img
            src="https://sundan.com/public/images/2e/07/07/cc39bb48dd1835d1ebd90ec5f4e1f5e1b390080a.jpg?1628478491#h"></a>
        <h4>【现货赠鼠标】联想（Lenovo）小新Air14 14英寸笔记本电脑2021锐龙版（R5-5500U 16G 512G SSD 集显）（深空灰）</h4>
        <p>下单即赠顺电定制无线鼠标<br />
          16GB大内存，随心所用<br />
          出色质感金属机身，携带更轻松<br />
          56.5Wh大容量电池，带来长续航<br />
          大体积风扇及双热管散热系统<br />
          预装正版Office家庭和学生版<br /></p>
        <div class="price">￥4799.00</div>
        <a href="./goods-list.html" class="action-addtocart" target="_blank">
          <div>立即查看</div>
        </a>
      </div>
    </li>
    <li>
      <div class="new_floor_item_bodybanner">
        <a href="./goods-list.html" target="_blank"><img
            src="https://sundan.com/public/images/78/a0/4b/5a1b71b21eac859366969f2d8393091e669540d4.jpg?1630567927#h"></a>
        <h4>坚果（JmGO）坚果V20 投影仪家用 智能投影机（1080P全高清 自动六向梯形校正 语音控制）</h4>
        <p>全自动无感对焦<br />
          1080P高清，兼容4K<br />
          精巧散热结构，智能温控引擎<br />
          全自动六向梯形矫正<br />
          自动画幕对齐、自动避障<br /></p>
        <div class="price">￥7299.00</div>
        <a href="./goods-list.html" class="action-addtocart" target="_blank">
          <div>立即查看</div>
        </a>
      </div>
    </li>
    <li>
      <div class="new_floor_pro_tag_box">
        <p class="new_floor_pro_tag new_floor_pro_tag3">送赠品</p>
      </div>
      <div class="new_floor_item_bodybanner">
        <a href="./goods-list.html" target="_blank"><img
            src="https://sundan.com/public/images/1b/c1/40/480e6f355bf44c2fa0b11dd62bf89c161d5f81a3.jpg?1628145270#h"></a>
        <h4>【新品】荣耀（HONOR）50 8GB+256GB 5G 1亿像素 6.57英寸曲屏 66W快充 高通骁龙778G 全网通商务手机【区域限购】</h4>
        <p>66W快充<br />
          1亿像素影像<br />
          双镜设计美学<br />
          高通骁龙778G<br />
          300Hz触控采样率<br />
          120HZ 6.57英寸OLED屏<br />
          </>
        <div class="price">￥2999.00</div>
        <a href="./goods-list.html" class="action-addtocart" target="_blank">
          <div>立即查看</div>
        </a>
      </div>
    </li>
    <li>
      <div class="new_floor_item_bodybanner">
        <a href="./goods-list.html" target="_blank"><img
            src="https://sundan.com/public/images/e0/8a/39/b5dc7cedc9d168a7c37a7fed56463a50994841ec.jpg?1573449714#h"></a>
        <h4>Apple AirPods Pro主动降噪H1芯片 配无线充电盒</h4>
        <p>可选耳塞尺寸<br />
          配备新AppleH1耳机芯片<br />
          支持语音激活siri<br />
          自动开启自动连接<br />
          充电盒支持无线充电<br />
          高振幅驱动单元、高动态范围放大器<br />
          在充电盒中快速充电<br /></p>
        <div class="price">￥1599.00</div>
        <a href="./goods-list.html" class="action-addtocart" target="_blank">
          <div>立即查看</div>
        </a>
      </div>
    </li>
  </ul>
<div style="clear:both;height:75px"></div>
</div>