<div class="new_floor_item_ad">
    <div class="new_floor_item_ad_left">
        <a href="#" target="_blank"><img
                src="https://www.sundan.com/public/images/f3/68/f6/6940cdf8a10e681b4446676fc3d303ce929b16f6.jpg?1630295716#w"
                alt=""></a>
    </div>
    <div class="new_floor_item_ad_right">
        <a href="#" target="_blank"><img
                src="https://www.sundan.com/public/images/bc/82/38/78aee83f1a1a3d9bf3c13e317e0037d2b5a69c70.jpg?1630293374#w"
                alt=""></a>
    </div>
</div>
<div class="new_floor_item_product">
    <ul>
        <li>
            <div class="new_floor_item_bodybanner">
                <a href="./goods-list.html" target="_blank"><img
                        src="https://sundan.com/public/images/fa/38/35/384715659f9b0a26f7207e901687749105f1c7ae.jpg?1630654979#h"></a>
                <h4>产地 韩国 进口福库（CUCKOO）4.8L IH双变压力电饭煲 CRP-LHTR1011FW（白色）【赠炒锅】</h4>
                <p>赠品预计时间21个工作日左右寄出</br>● IIH无压，中途加料功能</br>
                    双压模式，自由切换</br>
                    智能触摸按键功能，快捷轻松</br>
                    双层密封圈，一键分离式内盖</br></p>
                <div class="price">￥5999.00</div>
                <a href="./goods-list.html" class="action-addtocart" target="_blank">
                    <div>立即查看</div>
                </a>
            </div>
        </li>
        <li>
            <div class="new_floor_item_bodybanner">
                <a href="./goods-list.html" target="_blank"><img
                        src="https://sundan.com/public/images/01/d5/64/ed5e370c04126c98f2498761bbbd427ee7a352c0.jpg?1627616272#h"></a>
                <h4>【同城闪送】产地 意大利 进口 德龙（Delonghi）意式美式全自动咖啡机 D9T（钛金色）</h4>
                <p>同城闪送，详情咨询客服安排<br />
                    可自定义存储3位用户信息</br>
                    高达19bar泵压确保咖啡口感</br>
                    全触摸中文彩屏显示直观便捷</br>
                    无管道系统确保每一杯新鲜现磨</br></p>
                <div class="price">￥11990.00</div>
                <a href="./goods-list.html" class="action-addtocart" target="_blank">
                    <div>立即查看</div>
                </a>
            </div>
        </li>
        <li>
            <div class="new_floor_pro_tag_box">
                <p class="new_floor_pro_tag new_floor_pro_tag3">送赠品</p>
                <p class="new_floor_pro_tag new_floor_pro_tag8">减价</p>
            </div>
            <div class="new_floor_item_bodybanner">
                <a href="./goods-list.html" target="_blank"><img
                        src="https://sundan.com/public/images/99/c4/a4/f25f901fad5605be92b5d24c36d76e9666edee02.jpg?1630651498#h"></a>
                <h4>松下（panasonic）28升微波炉 蒸烤烘一体机 NN-DS1500XPE（黑色）</h4>
                <p>彩屏触控屏，IR感应控制</br>
                    直喷式蒸气，原汁原味</br>
                    连动烹调，皮酥里嫩</br>
                    微波火力，恒温加热</br>
                </p>
                <div class="price">￥3999.00</div>
                <a href="./goods-list.html" class="action-addtocart" target="_blank">
                    <div>立即查看</div>
                </a>
            </div>
        </li>
        <li>
            <div class="new_floor_item_bodybanner">
                <a href="./goods-list.html" target="_blank"><img
                        src="https://sundan.com/public/images/41/25/fc/ef3096e9a6cdb25706facf05fb6f40dd592e3d9c.jpg?1630656475#h"></a>
                <h4>产地 美国 进口 凯膳怡（kitchenaid）双碗全能机型 抬头式厨师机 5KSM165PSCPH（暖橘红）</h4>
                <p>美国原装进口</br>
                    全金属机身</br>
                    高颜值,新手也会用</br>
                    4.8L大碗+2.8L小碗,双碗设计</br>
                </p>
                <div class="price">￥5299.00</div>
                <a href="./goods-list.html" class="action-addtocart" target="_blank">
                    <div>立即查看</div>
                </a>
            </div>
        </li>
    </ul>
<div style="clear:both;height:75px"></div>
</div>