<div class="new_floor_new_ul this_nav">
  <div class="new_floor_new_h1">
    <div class="new_floor_nav">新品推荐</div>
    <div class="new_floor_new_p">

      <a class="new_floor_index_more" target="_blank" href="https://www.sundan.com/new.html">查看更多&gt;</a>

      <a target="_blank" class="fl_right index_more" href=""></a>
    </div>
  </div>
  <div class="new_floor_new_body">
    <ul>
      <li>
        <div class="new_floor_pro_tag_new">新品</div>
        <div class="new_floor_pro_tag_box">
          <p class="new_floor_pro_tag new_floor_pro_tag3">送赠品</p>
        </div>
        <div class="new_floor_new_bodybanner">
          <a href="./goods-list.html" target="_blank"><img
              src="https://sundan.com/public/images/95/72/42/6546199d8b1cb216944414e70342fe8ae4310476.jpg?1628045132#h"></a>
          <h4>华为 （HUAWEI） Mate 40 Pro 8GB+256GB 4G HarmonyOS 2 麒麟9000旗舰芯片 2 50W无线快充 经典手机【区域限购】【仅限深圳区域销售】
          </h4>
          <p>● 麒麟9000芯片<br />
            ● HarmonyOS 2系统<br />
            ● IP68级防水<br />
            ● 4400mAh电池容量<br />
            ● 50W无线快充<br /></p>
          <div class="price">￥6299.00</div>
          <a href="./goods-list.html" class="action-addtocart" target="_blank">
            <div>立即查看</div>
          </a>
        </div>
      </li>
      <li>
        <div class="new_floor_pro_tag_new">新品</div>
        <div class="new_floor_new_bodybanner">
          <a href="./goods-list.html" target="_blank"><img
              src="https://sundan.com/public/images/66/a7/65/ac47c04ce4a6b27e5ae8bc3b3725c3fac1f21c01.jpg?1618996806#h"></a>
          <h4>Apple iPhone 12 (A2404) 移动联通电信5G双卡双待手机</h4>
          <p>● A14仿生芯片<br />
            ● 移动5G；联通5G；电信5G<br />
            ● 6.1英寸OLED全面屏<br />
            ● 双摄1200万像素超广角及广角<br />
            ● IP68级别防溅、抗水、防尘<br />
            ● 超瓷晶面板,亚光质感玻璃背板<br /></p>
          <div class="price">￥5999.00</div>
          <a href="./goods-list.html" class="action-addtocart" target="_blank">
            <div>立即查看</div>
          </a>
        </div>
      </li>
      <li>
        <div class="new_floor_pro_tag_new">新品</div>
        <div class="new_floor_pro_tag_box">
          <p class="new_floor_pro_tag new_floor_pro_tag8">减价</p>
        </div>
        <div class="new_floor_new_bodybanner">
          <a href="./goods-list.html" target="_blank"><img
              src="https://sundan.com/public/images/37/92/05/86fde1dad3a471b7d1d4f83488f8fa538f21bfa3.jpg?1630462454#h"></a>
          <h4>【9月会员专享】索尼（SONY）WF-1000XM4 真无线蓝牙降噪耳机</h4>
          <p>● 双噪声传感技术，降噪隔音耳塞<br />
            ● IPX4防水防汗，环境声音控制（20阶）<br />
            ● 新6mm驱动单元<br />
            ● 清晰语音通话<br /></p>
          <div class="price">￥1999.00</div>
          <a href="./goods-list.html" class="action-addtocart" target="_blank">
            <div>立即查看</div>
          </a>
        </div>
      </li>
      <li>
        <div class="new_floor_pro_tag_new">新品</div>
        <div class="new_floor_pro_tag_box">
        </div>
        <div class="new_floor_new_bodybanner">
          <a href="./goods-list.html" target="_blank"><img
              src="https://sundan.com/public/images/0e/6c/5b/af8578e5e1034440313ecea8d1ea88ee67d72cb6.jpg?1628836520#h"></a>
          <h4>华硕（ASUS）ROG台式主机光魔G15DK（R7-5800X 16G 1T SSD+1T HDD 独显RTX 3070 8GB）（黑色）</h4>
          <p>● 支持实时光线追踪和AI智能技术<br />
            ● 个性电竞光效，支持神光同步<br />
            ● 风切设计元素，散热更高效<br />
            ● 玻璃侧透板，高端硬件完美展现<br />
            ● 机箱上部设计有提手，方便搬动<br /></p>
          <div class="price">￥13999.00</div>
          <a href="./goods-list.html" class="action-addtocart" target="_blank">
            <div>立即查看</div>
          </a>
        </div>
      </li>
      <div style='clear: both;height: 0px;'></div>
      <li>
        <div class="new_floor_pro_tag_new">新品</div>
        <div class="new_floor_pro_tag_box">
        </div>
        <div class="new_floor_new_bodybanner">
          <a href="./goods-list.html" target="_blank"><img
              src="https://sundan.com/public/images/03/66/c4/13327e9cf6bcde42755313037e72bea8baf69bc1.jpg?1630314763#h"></a>
          <h4>【同城闪送】戴森（Dyson）Supersonic 新一代智能吹风机 HD08（紫红镍色）</h4>
          <p>● 同城闪送，详情咨询客服安排<br />
            ● 智能温控，呵护头发光泽<br />
            ● 三挡风温，满足不同需求<br />
            ● 新一代配件，为不同头发设计<br />
            ● V9数码马达，强劲风力快速干发<br /></p>
          <div class="price">￥3190.00</div>
          <a href="./goods-list.html" class="action-addtocart" target="_blank">
            <div>立即查看</div>
          </a>
        </div>
      </li>
      <li>
        <div class="new_floor_pro_tag_new">新品</div>
        <div class="new_floor_pro_tag_box">
        </div>
        <div class="new_floor_new_bodybanner">
          <a href="./goods-list.html" target="_blank"><img
              src="https://sundan.com/public/images/b5/30/63/823c8d95806cca781019450a2b075908e9e3d5d7.jpg?1629184148#h"></a>
          <h4>魔镜（FITURE）尊享版 AI智能健身镜子 SLS0100（黑色）</h4>
          <p>● 赠12个月会员，含64GB存储<br />
            ● 真人指导，贴心专属服务<br />
            ● 43英寸4k高清屏，每秒60帧<br />
            ● 智能交互指导，13大类目课程<br />
            ● 体能测评，实时显示卡路里及心率<br /></p>
          <div class="price">￥7799.00</div>
          <a href="./goods-list.html" class="action-addtocart" target="_blank">
            <div>立即查看</div>
          </a>
        </div>
      </li>
      <li>
        <div class="new_floor_pro_tag_new">新品</div>
        <div class="new_floor_pro_tag_box">
        </div>
        <div class="new_floor_new_bodybanner">
          <a href="./goods-list.html" target="_blank"><img
              src="https://sundan.com/public/images/cc/92/7b/b586f4f9df14682180540cbbd25b3d247f89eaf3.jpg?1629963868#h"></a>
          <h4>产地德国 进口西门子（SIEMENS） iQ700 47升 嵌入式蒸汽烤箱CS636GBS1W（黑色）</h4>
          <p>● 4D热风烤，4层同时烘烤，食材口感如一<br />
            ● 亚沸锁鲜蒸，蒸汽快速烹饪，保留食材营养<br />
            ● 1℃准确控温，蒸汽辅助烤，均匀原汁口感<br />
            ● 恒温压蒸制，无冷凝水，食物原鲜呈现<br />
            ● 进口珐琅内腔，背板ECO氧化自清洁<br />
            ● 1.0升外置水箱，长时间蒸制无须中断<br /></p>
          <div class="price">￥11999.00</div>
          <a href="./goods-list.html" class="action-addtocart" target="_blank">
            <div>立即查看</div>
          </a>
        </div>
      </li>
      <li>
        <div class="new_floor_pro_tag_new">新品</div>
        <div class="new_floor_pro_tag_box">
        </div>
        <div class="new_floor_new_bodybanner">
          <a href="./goods-list.html" target="_blank"><img
              src="https://sundan.com/public/images/6d/ea/02/f3b07eaeb5de175e0a145d3249395f90a8fd4f82.jpg?1629777488#h"></a>
          <h4>西门子（SIEMENS）iQ500 10/7公斤 智能变频洗烘一体机 WD14U6A1HW (湖蕴蓝)</h4>
          <p>建议容量：洗10KG；烘7KG<br />
            ● 24分钟/公斤快烘，省时效率快<br />
            ● 无水祛味，热风除菌，蒸汽护理<br />
            ● 3D立体烘干，避免烘干不足或过度烘干<br />
            ● 多种面料一键洗烘，专业呵护衣物柔软蓬松<br />
            ● 智能洗涤剂投放，节能更省心<br />
            ● IMD触控面板，全触屏LED，操作一气呵成<br /></p>
          <div class="price">￥10499.00</div>
          <a href="./goods-list.html" class="action-addtocart" target="_blank">
            <div>立即查看</div>
          </a>
        </div>
      </li>
      <div style='clear: both;height: 0px;'></div>
    </ul>
  </div>
  <div style='clear: both;height: 75px;'></div>
</div>