<div class="hy-top">
    <div class="hy-top-wrap">
        <ul class="hy-right">
            <li class="hy-right-content">
                <div class="hy-item-t" style='color:red;'>手机顺电
                    <div class="hy-list-down"></div>
                </div>
                <div class="hy-item-list" style="width: 110px;margin-left: -4px;height:270px">
                    <div style="margin-bottom:-10px;">APP</div>
                    <img src="https://www.sundan.com/prefecture/app_qrcode.png" width="100" />
                    <div style="margin-bottom:-10px;margin-top:-15px;">小程序</div>
                    <img src="https://www.sundan.com/prefecture/xiaochengxu.jpg" width="100">
                </div>
            </li>
            <li class="hy-right-content">
                <div class="hy-split">&nbsp;</div>
            </li>
            <li class="hy-right-content">
                <div class="hy-item-t">更多精选<div class="hy-list-down"></div>
                </div>
                <div class="hy-item-list">
                    <div class="hy-item">
                        <a href="#"
                            target="_blank">每周特惠</a>
                    </div>
                    <div class="hy-item">
                        <a href="#" target="_blank">新品</a>
                    </div>
                </div>
            </li>

            <li class="hy-right-content">
                <div class="hy-split">&nbsp;</div>
            </li>
            <li class="hy-right-content">
                <div class="hy-item-t">为您服务<div class="hy-list-down"></div>
                </div>
                <div class="hy-item-list">
                    <div class="hy-item">
                        <a href="#" target="_blank">在线客服</a>
                    </div>
                    <div class="hy-item">
                        <a href="#" target="_blank">帮助中心</a>
                    </div>
                    <div class="hy-item">
                        <a href="#" target="_blank">门店查询</a>
                    </div>
                    <div class="hy-item">
                        <a href="#" target="_blank">意见建议</a>
                    </div>
                    <div class="hy-item">
                        <a href="#" target="_blank">校园招聘</a>
                    </div>
                </div>
            </li>
            <li class="hy-right-content">
                <div class="hy-split">&nbsp;</div>
            </li>
            <li class="hy-right-content">
                <div class="hy-item-t">家电医院
                    <div class="hy-list-down"></div>
                </div>
                <div class="hy-item-list" style="margin-top:10px;margin-left:-4px;width: 110px;height:110px">
                    <img src="https://www.sundan.com/prefecture/minicode_hospital.png" width="100" />
                </div>
            </li>
            <li class="hy-right-content">
                <div class="hy-split">&nbsp;</div>
            </li>
            <li class="hy-right-content">
                <div class="hy-item-t">我的顺电<div class="hy-list-down"></div>
                </div>
                <div class="hy-item-list">
                    <div class="hy-item">
                        <a href="./shopcart.html" target="_blank">我的订单</a>
                    </div>
                    <div class="hy-item">
                        <a href="#" target="_blank">积分查询</a>
                    </div>

                </div>
            </li>
            <li class="clearfix"></li>
        </ul>
    </div>
</div>