<div class="new_floor_item_ad">
    <div class="new_floor_item_ad_left">
        <a href="#" target="_blank"><img
                src="https://www.sundan.com/public/images/95/24/82/8ce6e945d2d0be9acbe39a65852f7e9fd13af65b.png?1627286985#w"
                alt=""></a>
    </div>
    <div class="new_floor_item_ad_right">
        <a href="#" target="_blank"><img
                src="https://www.sundan.com/public/images/1b/dc/b5/2c0f8760d36c529c9768fdcd75e48ed48cbe2c65.png?1629362839#w"
                alt=""></a>
    </div>
</div>


<div class="new_floor_item_product">
    <ul>
        <li>
            <div class="new_floor_item_bodybanner">
                <a href="./goods-list.html" target="_blank"><img
                        src="https://sundan.com/public/images/45/d7/db/4cc7c8e802da546b39a8347fee9022de8475c52d.jpg?1630895455#h"></a>
                <h4>方太（FOTILE）智能厨房三件套（油烟机+燃气灶+蒸烤炸一体烹饪机）</h4>
                <p>套装包含：</br>
                    智能蒸烤炸一体烹饪机ZK-TS1.i</br>
                    侧吸式油烟机CXW-258-JQ16TA</br>
                    钢化玻璃嵌入式燃气灶 JZT-HA7B-12T（天然气）</br></p>
                <div class="price">￥17419.00</div>
                <a href="./goods-list.html" class="action-addtocart" target="_blank">
                    <div>立即查看</div>
                </a>
            </div>
        </li>
        <li>
            <div class="new_floor_item_bodybanner">
                <a href="./goods-list.html" target="_blank"><img
                        src="https://sundan.com/public/images/94/27/5c/c7efff328c57aadc346326debc7559fd0eed739b.jpg?1627266702#h"></a>
                <h4>【现货好价】产地德国 进口美诺（Miele）14套 带烘干独立式洗碗机G 6620 CSC（璀璨白）含门板</h4>
                <p>下单享受美诺上门无忧服务<br />
                    58分钟快速强力洗，省时更省事<br />
                    轻柔清洗程序，温柔呵护精致器皿<br />
                    3个喷淋臂，多角度清洁更到位<br />
                    3重过滤系统，保持清澈水循环<br />
                    烘干后自动开门，保持餐具干燥更节能<br /></p>
                <div class="price">￥11999.00</div>
                <a href="./goods-list.html" class="action-addtocart" target="_blank">
                    <div>立即查看</div>
                </a>
            </div>
        </li>
        <li>
            <div class="new_floor_item_bodybanner">
                <a href="./goods-list.html" target="_blank"><img
                        src="https://sundan.com/public/images/f3/a6/4b/08314d5649bc11fa031832d9bd94073fe11b9992.jpg?1623389959#h"></a>
                <h4>索尼（SONY）65英寸 4K HDR 智能液晶电视 XR-65X90J（黑色）</h4>
                <p>XR认知芯片，特丽魅彩显示技术<br />
                    全阵列式背光，创造生动逼真画面<br />
                    4K/120fps优化动态清晰度<br />
                    沉浸式声场，3D环绕立体声效<br />
                    音画同步，多声道屏幕声场<br />
                    智能物联，一屏掌控<br /></p>
                <div class="price">￥7699.00</div>
                <a href="./goods-list.html" class="action-addtocart" target="_blank">
                    <div>立即查看</div>
                </a>
            </div>
        </li>
        <li>
            <div class="new_floor_item_bodybanner">
                <a href="./goods-list.html" target="_blank"><img
                        src="https://sundan.com/public/images/90/99/d8/c4bc386ba5827118a40d887b38eb2bf4ab1a7bbd.jpg?1619589668#h"></a>
                <h4>格力（GREE）凉之逸系列 大1P 变频冷暖空调KFR-26GW/(26511)FNhAa-B3（皓雪白）</h4>
                <p>56℃净菌自洁，就“享”健康清凉<br />
                    格力“芯”科技，循环大风量<br />
                    7档风速可调节，总有一种刚刚好<br />
                    4种睡眠模式可选，享受不一样的睡眠体验<br />
                    一键除湿，给家人舒爽生活<br /></p>
                <div class="price">￥2499.00</div>
                <a href="./goods-list.html" class="action-addtocart" target="_blank">
                    <div>立即查看</div>
                </a>
            </div>
        </li>
    </ul>
<div style="clear:both;height:75px"></div>
</div>