<div id="new_floor_discount_ul this_nav" class="new_floor_discount_ul this_nav">
    <div class="new_floor_discount_h1">
        <div class="new_floor_nav">每周特惠</div>
        <div class="new_floor_discount_p">
            <a class="new_floor_index_more" target="_blank"
                href="./goods-list.html">查看更多&gt;</a>
        </div>
    </div>
    <div class="new_floor_item_product">
        <ul>
            <li>
                <div class="new_floor_item_bodybanner">
                    <a href="./goods-list.html" target="_blank"><img
                            src="https://sundan.com/public/images/c8/10/0a/2d5b99be8326097cd772508bb96fdd6434e47e70.jpg?1629876188#h"></a>
                    <h4>【新包装】任天堂（Nintendo Switch）国行续航增强版健身环大冒险游戏套装</h4>
                    <p>随心切换，一起趣玩<br />
                        碎片时间轻松健身<br />
                        与身边的人互动分享<br />
                        创新且简易的健身方式<br />
                        高精震动带来全新体验<br /></p>
                    <div class="price">
                        <div class="newprice">￥2398.00</div>
                        <div class="oldprice" style="text-decoration: line-through;">￥2598.00</div>
                    </div>
                    <a href="./goods-list.html" class="action-addtocart" target="_blank">
                        <div>立即查看</div>
                    </a>
                </div>
            </li>
            <li>
                <div class="new_floor_item_bodybanner">
                    <a href="./goods-list.html" target="_blank"><img
                            src="https://sundan.com/public/images/72/eb/8e/1ac68ced3f58a06d5613ba2c62808e58a644f77c.jpg?1630480863#h"></a>
                    <h4>【深圳现货】华为（HUAWEI） MatePad Pro 10.8英寸2021款平板电脑（8+128GB）WIFI版MRR-W29【区域限购】</h4>
                    <p>绚丽全面屏，电影级色域<br />
                        平板PC多屏协同，分布式管理<br />
                        四声道四大振幅扬声器<br />
                        可搭配第二代手写笔<br />
                        7250mAh大电池（典型值）<br /></p>
                    <div class="price">
                        <div class="newprice">￥3699.00</div>
                        <div class="oldprice" style="text-decoration: line-through;">￥3799.00</div>
                    </div>
                    <a href="./goods-list.html" class="action-addtocart" target="_blank">
                        <div>立即查看</div>
                    </a>
                </div>
            </li>
            <li>
                <div class="new_floor_item_bodybanner">
                    <a href="./goods-list.html" target="_blank"><img
                            src="https://sundan.com/public/images/d5/af/ce/37c69f5826cc91976e7cb31ecb290b426e0f2f73.jpg?1560304504#h"></a>
                    <h4>美的（Midea）3升IH 降糖电饭煲MB-30LH5（玄武灰）【特价商品，非质量问题不退不换，售完即止】【清仓折扣】</h4>
                    <p>此商品为限购品，售完即止，无货退款<br /> ● 五色养生控糖饭<br />
                        焖香2.0钛金鼎釜<br />
                        还原糖含量降低50%<br />
                        沥糖降吸收，恒享健康<br />
                        内胆备长炭涂层，健康不粘锅<br />
                    </p>
                    <div class="price">
                        <div class="newprice">￥899.00</div>
                        <div class="oldprice" style="text-decoration: line-through;">￥1299.00</div>
                    </div>
                    <a href="./goods-list.html" class="action-addtocart" target="_blank">
                        <div>立即查看</div>
                    </a>
                </div>
            </li>
            <li>
                <div class="new_floor_item_bodybanner">
                    <a href="./goods-list.html" target="_blank"><img
                            src="https://sundan.com/public/images/6d/ea/02/f3b07eaeb5de175e0a145d3249395f90a8fd4f82.jpg?1629777488#h"></a>
                    <h4>西门子（SIEMENS）iQ500 10/7公斤 智能变频洗烘一体机 WD14U6A1HW (湖蕴蓝)</h4>
                    <p>建议容量：洗10KG；烘7KG<br />
                        24分钟/公斤快烘，省时效率快<br />
                        无水祛味，热风除菌，蒸汽护理<br />
                        3D立体烘干，避免烘干不足或过度烘干<br />
                        多种面料一键洗烘，专业呵护衣物柔软蓬松<br />
                        智能洗涤剂投放，节能更省心<br />
                        IMD触控面板，全触屏LED，操作一气呵成<br /></p>
                    <div class="price">
                        <div class="newprice">￥10499.00</div>
                        <div class="oldprice" style="text-decoration: line-through;">￥12499.00</div>
                    </div>
                    <a href="./goods-list.html" class="action-addtocart" target="_blank">
                        <div>立即查看</div>
                    </a>
                </div>
            </li>
            <div style='clear: both;height: 0px;'></div>
        </ul>
    </div>
</div>