<div class="new_floor_new_ul this_nav">
    <div class="new_floor_new_h1">
        <div class="new_floor_nav">必买好物</div>
        <div class="new_floor_new_p">
            <a target="_blank" href="#">咖啡机</a>
            <div class="new_floor_new_tag_split"> / </div>
            <a target="_blank" href="#">乐器</a>
            <div class="new_floor_new_tag_split"> / </div>
            <a target="_blank" href="#">酒柜</a>
            <div class="new_floor_new_tag_split"> / </div>
            <a target="_blank"
                href="#">蓝牙耳机</a>
            <div class="new_floor_new_tag_split"> / </div>
            <a target="_blank" class="fl_right index_more"
                href="#">5G手机</a>
        </div>
    </div>
    <div class="new_floor_article_flor">
        <div class="new_floor_article_flor_1 "><a href="#"
                target="_blank"><img
                    src="https://www.sundan.com/public/images/75/46/83/2261a5dbb54c93883560e0cbe870b0c5286d8287.jpg?1630295355#h"></a>
        </div>
        <div class="new_floor_article_flor_1 "><a
                href="#"
                target="_blank"><img
                    src="https://www.sundan.com/public/images/21/02/cc/68bf749d21b3b4b873d56d4de7f08cf0eca91642.jpg?1630046638#h"></a>
        </div>
        <div class="new_floor_article_flor_2 "><a
                href="#"
                target="_blank"><img
                    src="https://www.sundan.com/public/images/e2/b9/32/8c9fe7bcbbe10f48534ef0d82a1f35183b3e5b72.jpg?1630659695#w"></a>
        </div>
        <div class="new_floor_article_flor_2 "><a href="#" target="_blank"><img
                    src="https://www.sundan.com/public/images/c9/96/c4/0f07806f1d7a0bb561bc0e1c686f0223cd7da7f7.jpg?1630576985#w"></a>
        </div>
        <div class="new_floor_article_flor_3 "><a href="#"
                target="_blank"><img
                    src="https://www.sundan.com/public/images/66/00/28/bf719b1975abe314b5b304830d4a8cefd2f5861b.jpg?1619071972#w"></a>
        </div>
        <div class="new_floor_article_flor_3 "><a href="#" target="_blank"><img
                    src="https://www.sundan.com/public/images/be/19/3a/89e2546fc1304c372c57ae04fcca3bbd002451b6.jpg?1629439567#w"></a>
        </div>
        <div class="new_floor_article_flor_3 "><a
                href="#" target="_blank"><img
                    src="https://www.sundan.com/public/images/4b/52/89/45502cef97e0f55bbc4e019f0ba993bb0a060ec4.png?1628557450#w"></a>
        </div>
    </div>
    <div style='clear: both;height: 75px;'></div>
</div>