<div class="new_floor_server_ul this_nav">
    <div class="new_floor_server_h1">
        <div class="new_floor_nav">为您服务</div>
    </div>
    <div class="new_floor_server_img"></div>
    <div class="new_floor_server_flor">
        <a href="#" target="_blank">
            <div class="new_floor_server_flor_item"><img class="server_flor_item_normal"
                    src="https://www.sundan.com/public/images/76/c6/9e/22cc8b8a9d84b47c7bcc1feaed6c5a706615918e.png?1596815478#h"><img
                    class="server_flor_item_active"
                    src="https://www.sundan.com/public/images/74/5a/98/b71e45892ff802292bd1bf38e2ee55575f4334b0.png?1596815486#h">
                <div class="server_flor_item_name">企业购</div>
            </div>
        </a>
        <div class="new_floor_server_flor_split"></div>
        <a href="#" target="_blank">
            <div class="new_floor_server_flor_item"><img class="server_flor_item_normal"
                    src="https://www.sundan.com/public/images/54/28/6e/547d9cf30be2230b39427ac05a280c5d495d7273.png?1596815496#w"><img
                    class="server_flor_item_active"
                    src="https://www.sundan.com/public/images/e0/22/3b/d6fbacd62196bd2a1f7223174fe1f97c91ae790a.png?1596815535#w">
                <div class="server_flor_item_name">会员权益</div>
            </div>
        </a>
        <div class="new_floor_server_flor_split"></div>
        <a href="#" target="_blank">
            <div class="new_floor_server_flor_item"><img class="server_flor_item_normal"
                    src="https://www.sundan.com/public/images/13/6f/f9/2875cf8ec242c5d7fabe6b0bfd042f76d5583628.png?1596815513#h"><img
                    class="server_flor_item_active"
                    src="https://www.sundan.com/public/images/ee/36/97/38fd76e290f476bff315052a4f567482cecc47e6.png?1596815541#h">
                <div class="server_flor_item_name">Apple产品课堂</div>
            </div>
        </a>
        <div class="new_floor_server_flor_split"></div>
        <a href="#" target="_blank">
            <div class="new_floor_server_flor_item"><img class="server_flor_item_normal"
                    src="https://www.sundan.com/public/images/79/e5/62/7fc4a9d97ce5caa115edd9541c2f84b4cdf034cc.png?1596815522#h"><img
                    class="server_flor_item_active"
                    src="https://www.sundan.com/public/images/5d/79/18/2e3df0b739c5a1fc0c9c35018bc5d48ec63123be.png?1596815553#h">
                <div class="server_flor_item_name">家电医院</div>
            </div>
        </a>
    </div>
</div>