<div class="new_floor_item_ad">
    <div class="new_floor_item_ad_left">
        <a href="#" target="_blank"><img
                src="https://www.sundan.com/public/images/b5/e6/83/bfecae6365f8af2ac7662d756f77940990cb7a92.jpg?1629704396#w"
                alt=""></a>
    </div>
    <div class="new_floor_item_ad_right">
        <a href="#" target="_blank"><img
                src="https://www.sundan.com/public/images/3e/6e/b7/01d8f200fdae823da92b4b214867f0979b9258dc.jpg?1630295478#w"
                alt=""></a>
    </div>
</div>
<div class="new_floor_item_product">
    <ul>
        <li>
            <div class="new_floor_item_bodybanner">
                <a href="./goods-list.html" target="_blank"><img
                        src="https://sundan.com/public/images/90/d5/a9/d85ac9d29180b33fecacfda612b935d32376e91e.png?1627633623#h"></a>
                <h4>【同城闪送 】戴森（Dyson）Supersonic 负离子电吹风机 HD08（亮铜镍色）</h4>
                <p>同城闪送，详情咨询客服安排<br />
                    强劲气流，快速干发<br />
                    智能恒温，护发光泽<br />
                    打造顺滑，闪亮造型<br />
                    全新防飞翘风嘴，康达效应<br /></p>
                <div class="price">￥3190.00</div>
                <a href="./goods-list.html" class="action-addtocart" target="_blank">
                    <div>立即查看</div>
                </a>
            </div>
        </li>
        <li>
            <div class="new_floor_item_bodybanner">
                <a href="./goods-list.html" target="_blank"><img
                        src="https://sundan.com/public/images/78/6b/32/676ae6fd57d11f75353d74576bbe7cf255483c38.jpg?1526442248#h"></a>
                <h4>【同城闪送】产地马来西亚 进口戴森(Dyson)无叶风扇AM07 (紫色)</h4>
                <p>远程遥控，睡眠定时<br />
                    无叶片设计，安全易清洁<br />
                    强劲稳定气流，舒适无忧<br />
                    精准设置十档风速<br />

                </p>
                <div class="price">￥3150.00</div>
                <a href="./goods-list.html" class="action-addtocart" target="_blank">
                    <div>立即查看</div>
                </a>
            </div>
        </li>
        <li>
            <div class="new_floor_pro_tag_box">
                <p class="new_floor_pro_tag new_floor_pro_tag8">减价</p>
            </div>
            <div class="new_floor_item_bodybanner">
                <a href="./goods-list.html" target="_blank"><img
                        src="https://sundan.com/public/images/b9/a0/36/30924d5923cd98ad9a1030345387783431b9d291.jpg?1630459319#h"></a>
                <h4>【9月会员专享】三星（SAMSUNG）推拉式智能门锁 SHP-P60FBUG/CN（铂光金）</h4>
                <p>贴心访客门铃一体化设计</br>
                    防撬报警，电池更换提醒</br>
                    支持指纹/密码/磁卡/应急钥匙</br>
                    室内防猫眼开启设计，未关门提醒</br></p>
                <div class="price">￥3280.00</div>
                <a href="./goods-list.html" class="action-addtocart" target="_blank">
                    <div>立即查看</div>
                </a>
            </div>
        </li>
        <li>
            <div class="new_floor_pro_tag_box">
                <p class="new_floor_pro_tag new_floor_pro_tag8">减价</p>
            </div>
            <div class="new_floor_item_bodybanner">
                <a href=./goods-list.html" target="_blank"><img
                        src="https://sundan.com/public/images/d2/48/c4/7847d06fde57a1db7b8ae0162c30956f91b24615.jpg?1630459936#h"></a>
                <h4>【9月会员专享】产地 德国 进口博朗（BRAUN）9系智能感应电动剃须刀9355s（亮面银）</h4>
                <p>智能感应马达，自动调整动力<br />
                    10方向灵活刀头，贴合面部<br />
                    1小时充电，5分钟快充<br />
                    干湿双剃，全身水洗<br /></p>
                <div class="price">￥3299.00</div>
                <a href="./goods-list.html" class="action-addtocart" target="_blank">
                    <div>立即查看</div>
                </a>
            </div>
        </li>

    </ul>
</div>