<div id="helper" class="page-helper">
    <div class="inner-wrap">
        <div class="helper-item">
            <dl class="content-list">
                <dt class="content-title">
                    <div><img src="https://sundan.com/themes/shundian/images/zp.png" /><label>正品保证</label></div>
                </dt>
            </dl>
        </div>
        <div class="helper-item">
            <dl class="content-list">
                <dt class="content-title">
                    <div><img src="https://sundan.com/themes/shundian/images/vip_footer.png" /><label>会员尊享</label>
                    </div>
                </dt>
            </dl>
        </div>
        <div class="helper-item">
            <dl class="content-list">
                <dt class="content-title">
                    <div><img src="https://sundan.com/themes/shundian/images/bao.png" /><label>全国联保</label></div>
                </dt>
            </dl>
        </div>
        <div class="helper-item">
            <dl class="content-list">
                <dt class="content-title">
                    <div><img src="https://sundan.com/themes/shundian/images/30.png" /><label>30天退货</label></div>
                </dt>
            </dl>
        </div>
        <div class="helper-item">
            <dl class="content-list">
                <dt class="content-title">
                    <div><img src="https://sundan.com/themes/shundian/images/Awesome-Projects.png" /><label>正规发票</label>
                    </div>
                </dt>
            </dl>
        </div>
    </div>
</div>