<div class="inner-wrap new-made" style="padding:30px 0px;">
    <div class="page-maincontent">
        <div id="filter_container" class="filter-container">
            <div id="gallery_filter" class="gallery-filter">
                <div id="filter_selected" class="filter-selected clearfix">
                    <dl class="filter-selected-list clearfix flox-div">
                        <dt class="filter-selected-title">您已选择：</dt>
                        <div class="cat-row-div">
                            <div class="cat_row">
                                <p><abbr>大家电</abbr><i class="icon">></i></p>
                                <ul class="cat-row-ul">
                                    <li id="1"><a href="/gallery-1.html">手机通讯</a></li>
                                    <li id="33"><a href="/gallery-33.html">个护/健康</a></li>
                                    <li id="145"><a href="/gallery-145.html">厨房小家电</a></li>
                                    <li id="203"><a href="/gallery-203.html">办公设备</a></li>
                                    <li id="382"><a href="/gallery-382.html">数码/航拍</a></li>
                                    <li id="389"><a href="/gallery-389.html">电脑</a></li>
                                    <li id="404"><a href="/gallery-404.html">生活电器</a></li>
                                    <li id="432"><a href="/gallery-432.html">智能/娱乐</a></li>
                                    <li id="475"><a href="/gallery-475.html">政采专用</a></li>
                                    <li id="520"><a href="/gallery-520.html">家居设乡味</a></li>
                                </ul>
                            </div>
                        </div>
                        <dd class="filter-selected-values">
                        </dd>
                    </dl>
                </div>
                <div id="filter_lists" class="filter-lists-container">
                    <dl class="filter-entries clearfix">
                        <dt class="filter-entries-label">分类：</dt>
                        <dd class="filter-entries-values">
                            <span class="filter-item"><a href="/gallery-437.html"
                                    class="handle action-cat-filter">家用大件</a></span>
                            <span class="filter-item"><a href="/gallery-438.html"
                                    class="handle action-cat-filter">厨卫大电</a></span>
                            <span class="filter-item"><a href="/gallery-55.html"
                                    class="handle action-cat-filter">家庭影音</a></span>
                            <span class="filter-item"><a href="/gallery-264.html"
                                    class="handle action-cat-filter">大家电配件</a></span>
                            <span class="filter-item"><a href="/gallery-484.html"
                                    class="handle action-cat-filter">商用大件</a></span>
                        </dd>
                    </dl>
                    <dl class="filter-entries clearfix" data-label="brand_id">
                        <dt class="filter-entries-label">品牌：</dt>
                        <div class="filter_bakcolor" style="border-bottom: 1px dashed #e1e1e1;">
                            <dd class="filter-entries-more action-unfold-entries" id="sd_m">
                                <a href="javascript:void(0);"><i class="icon" data-toggle="&#x65;">></i>
                                    <span class="text" data-toggle="收起">更多</span>
                                </a>
                            </dd>
                            <!--  -->
                            <dd class="filter-entries-values filter-entr-width filter-unfold-load"
                                style="border-bottom: none;" id="sd_list">
                                <span class="filter-item active" style="display:none;"><a href="javascript:void(0);"
                                        class="handle action-select-unlimit">不限</a></span>
                                <span class="filter-item brand_item " data-fid="brand_id-1384">
                                    <a href="javascript:void(0);" class="handle action-select-filter">
                                        <img
                                            src="https://sundan.com/public/images/b2/e4/3d/61e979417e0c81ea39cb53b47142a492541c58a2.jpg?1459491340#w">格力(GREE)
                                    </a>
                                    <a href="javascript:void(0);" class="action-delete-filter">
                                        <div class="action-delete-img"><img
                                                src="https://sundan.com/themes/shundian/images/delete_list.png" />
                                        </div>
                                    </a>
                                </span>
                                <span class="filter-item brand_item " data-fid="brand_id-1451">
                                    <a href="javascript:void(0);" class="handle action-select-filter">
                                        <img
                                            src="https://sundan.com/public/images/fa/49/37/08d059d11f5538589a1bb27ad0f7e155f4e822c9.jpg?1459491435#w">海尔(Haier)
                                    </a>
                                    <a href="javascript:void(0);" class="action-delete-filter">
                                        <div class="action-delete-img"><img
                                                src="https://sundan.com/themes/shundian/images/delete_list.png" />
                                        </div>
                                    </a>
                                </span>
                                <span class="filter-item brand_item " data-fid="brand_id-351">
                                    <a href="javascript:void(0);" class="handle action-select-filter">
                                        <img
                                            src="https://sundan.com/public/images/dd/04/61/273ab201443b03610fe0a386bba07d16cb61ad18.jpg?1480104562#w">美的（Midea）
                                    </a>
                                    <a href="javascript:void(0);" class="action-delete-filter">
                                        <div class="action-delete-img"><img
                                                src="https://sundan.com/themes/shundian/images/delete_list.png" />
                                        </div>
                                    </a>
                                </span>
                                <span class="filter-item brand_item " data-fid="brand_id-46">
                                    <a href="javascript:void(0);" class="handle action-select-filter">
                                        <img
                                            src="https://sundan.com/public/images/15/a6/b2/3adef392a14163e46a8c8727176620e31a3b35ac.jpg?1565601773#w">海信(Hisense)
                                    </a>
                                    <a href="javascript:void(0);" class="action-delete-filter">
                                        <div class="action-delete-img"><img
                                                src="https://sundan.com/themes/shundian/images/delete_list.png" />
                                        </div>
                                    </a>
                                </span>
                                <span class="filter-item brand_item " data-fid="brand_id-1465">
                                    <a href="javascript:void(0);" class="handle action-select-filter">
                                        <img
                                            src="https://sundan.com/public/images/ce/e3/59/ac5e56b5acebc720bd1134372f4157d540e698ba.jpg?1480105537#w">三星(SAMSUNG)
                                    </a>
                                    <a href="javascript:void(0);" class="action-delete-filter">
                                        <div class="action-delete-img"><img
                                                src="https://sundan.com/themes/shundian/images/delete_list.png" />
                                        </div>
                                    </a>
                                </span>
                                <span class="filter-item brand_item " data-fid="brand_id-933">
                                    <a href="javascript:void(0);" class="handle action-select-filter">
                                        <img
                                            src="https://sundan.com/public/images/35/9d/15/f19559741ed23622fcde7a8c288df77a8c29b369.jpg?1480106527#w">
                                        雅马哈（YAMAHA） </a>
                                    <a href="javascript:void(0);" class="action-delete-filter">
                                        <div class="action-delete-img"><img
                                                src="https://sundan.com/themes/shundian/images/delete_list.png" />
                                        </div>
                                    </a>
                                </span>
                                <span class="filter-item brand_item " data-fid="brand_id-893">
                                    <a href="javascript:void(0);" class="handle action-select-filter">
                                        <img
                                            src="https://sundan.com/public/images/82/c2/f1/422dd83a52f767c7aaedfa749cc62d4634f254ef.jpg?1480106223#w">西门子（SIEMENS）
                                    </a>
                                    <a href="javascript:void(0);" class="action-delete-filter">
                                        <div class="action-delete-img"><img
                                                src="https://sundan.com/themes/shundian/images/delete_list.png" />
                                        </div>
                                    </a>
                                </span>
                                <span class="filter-item brand_item " data-fid="brand_id-669">
                                    <a href="javascript:void(0);" class="handle action-select-filter">
                                        <img
                                            src="https://sundan.com/public/images/40/8f/dd/5965795f84ca253e00d33817eca5ab7a91d1b2e0.jpg?1480105840#w">索尼(SONY)
                                    </a>
                                    <a href="javascript:void(0);" class="action-delete-filter">
                                        <div class="action-delete-img"><img
                                                src="https://sundan.com/themes/shundian/images/delete_list.png" />
                                        </div>
                                    </a>
                                </span>
                                <span class="filter-item brand_item " data-fid="brand_id-600">
                                    <a href="javascript:void(0);" class="handle action-select-filter">
                                        <img
                                            src="https://sundan.com/public/images/8d/98/28/459f4c0f87db818d32a9d8fb337ac972cb0588e8.jpg?1480105667#w">尚睿（Sanreya）
                                    </a>
                                    <a href="javascript:void(0);" class="action-delete-filter">
                                        <div class="action-delete-img"><img
                                                src="https://sundan.com/themes/shundian/images/delete_list.png" />
                                        </div>
                                    </a>
                                </span>
                                <span class="filter-item brand_item " data-fid="brand_id-489">
                                    <a href="javascript:void(0);" class="handle action-select-filter">
                                        <img
                                            src="https://sundan.com/public/images/31/80/40/6ab29bd32a0ebe2fa6b5201bfe2471eb9be6489d.jpg?1480105796#w">松下（Panasonic）
                                    </a>
                                    <a href="javascript:void(0);" class="action-delete-filter">
                                        <div class="action-delete-img"><img
                                                src="https://sundan.com/themes/shundian/images/delete_list.png" />
                                        </div>
                                    </a>
                                </span>
                                <span class="filter-item brand_item " data-fid="brand_id-1763">
                                    <a href="javascript:void(0);" class="handle action-select-filter">
                                        Populele </a>
                                    <a href="javascript:void(0);" class="action-delete-filter">
                                        <div class="action-delete-img"><img
                                                src="https://sundan.com/themes/shundian/images/delete_list.png" />
                                        </div>
                                    </a>
                                </span>
                                <span class="filter-item brand_item " data-fid="brand_id-380">
                                    <a href="javascript:void(0);" class="handle action-select-filter">
                                        <img
                                            src="https://sundan.com/public/images/3e/8a/da/0660c9449c5ae9166d13dc7daea307aa72ead772.jpg?1480105502#w">三菱电机(Mitsubishi
                                        Electric) </a>
                                    <a href="javascript:void(0);" class="action-delete-filter">
                                        <div class="action-delete-img"><img
                                                src="https://sundan.com/themes/shundian/images/delete_list.png" />
                                        </div>
                                    </a>
                                </span>
                                <span class="filter-item brand_item " data-fid="brand_id-1864">
                                    <a href="javascript:void(0);" class="handle action-select-filter">
                                        <img
                                            src="https://sundan.com/public/images/9b/7e/28/6be8cefdbe68631f2e047569e0f7ca596f9bd139.jpg?1551863852#w">AEG
                                    </a>
                                    <a href="javascript:void(0);" class="action-delete-filter">
                                        <div class="action-delete-img"><img
                                                src="https://sundan.com/themes/shundian/images/delete_list.png" />
                                        </div>
                                    </a>
                                </span>
                                <span class="filter-item brand_item " data-fid="brand_id-1567">
                                    <a href="javascript:void(0);" class="handle action-select-filter">
                                        <img
                                            src="https://sundan.com/public/images/de/12/bc/161c921cd7a24e15a9cdc8c081788442fa16b7fc.png?1480105691#w">神画（PIQS）
                                    </a>
                                    <a href="javascript:void(0);" class="action-delete-filter">
                                        <div class="action-delete-img"><img
                                                src="https://sundan.com/themes/shundian/images/delete_list.png" />
                                        </div>
                                    </a>
                                </span>
                                <!-- <span class="filter-item-hide"> -->
                                <span class="filter-item brand_item " data-fid="brand_id-1903">
                                    <a href="javascript:void(0);" class="handle action-select-filter">
                                        <img
                                            src="https://sundan.com/public/images/ab/ea/84/e7f9f2f0d56f7037ec3e3be6bd1e65a24d57a6e4.png?1562225226#w">嘿哟（HYM）
                                    </a>
                                    <a href="javascript:void(0);" class="action-delete-filter">
                                        <div class="action-delete-img"><img
                                                src="https://sundan.com/themes/shundian/images/delete_list.png" />
                                        </div>
                                    </a>
                                </span>
                                <span class="filter-item brand_item " data-fid="brand_id-1902">
                                    <a href="javascript:void(0);" class="handle action-select-filter">
                                        <img
                                            src="https://sundan.com/public/images/47/8b/a8/9d64ee39a137b83535ac57a6debca5d6c6eb6d83.jpg?1562223529#w">暴风（BAOFENG）
                                    </a>
                                    <a href="javascript:void(0);" class="action-delete-filter">
                                        <div class="action-delete-img"><img
                                                src="https://sundan.com/themes/shundian/images/delete_list.png" />
                                        </div>
                                    </a>
                                </span>
                                <span class="filter-item brand_item " data-fid="brand_id-1568">
                                    <a href="javascript:void(0);" class="handle action-select-filter">
                                        <img
                                            src="https://sundan.com/public/images/e6/b8/2f/d2ed976edae4c9ef2c84217e4a466027b8f25434.jpg?1480103961#w">丽扬（neon）
                                    </a>
                                    <a href="javascript:void(0);" class="action-delete-filter">
                                        <div class="action-delete-img"><img
                                                src="https://sundan.com/themes/shundian/images/delete_list.png" />
                                        </div>
                                    </a>
                                </span>
                                <span class="filter-item brand_item " data-fid="brand_id-1572">
                                    <a href="javascript:void(0);" class="handle action-select-filter">
                                        <img
                                            src="https://sundan.com/public/images/24/f1/9a/e46b2002e3987ecaea9f4160129a2b1cab7a7b54.jpg?1480107114#w">卡萨帝（Casarte）
                                    </a>
                                    <a href="javascript:void(0);" class="action-delete-filter">
                                        <div class="action-delete-img"><img
                                                src="https://sundan.com/themes/shundian/images/delete_list.png" />
                                        </div>
                                    </a>
                                </span>
                                <span class="filter-item brand_item " data-fid="brand_id-1879">
                                    <a href="javascript:void(0);" class="handle action-select-filter">
                                        <img
                                            src="https://sundan.com/public/images/d8/62/af/d6450eef37dcb634c933b766355a6372b066be60.jpg?1556949924#w">帝瓦雷（Devialet）
                                    </a>
                                    <a href="javascript:void(0);" class="action-delete-filter">
                                        <div class="action-delete-img"><img
                                                src="https://sundan.com/themes/shundian/images/delete_list.png" />
                                        </div>
                                    </a>
                                </span>
                                <span class="filter-item brand_item " data-fid="brand_id-1730">
                                    <a href="javascript:void(0);" class="handle action-select-filter">
                                        <img
                                            src="https://sundan.com/public/images/41/42/b2/1369387430dc44d09d64f15f4ceff08d25c79d4e.png?1613988006#w">搜诺思（SONOS）
                                    </a>
                                    <a href="javascript:void(0);" class="action-delete-filter">
                                        <div class="action-delete-img"><img
                                                src="https://sundan.com/themes/shundian/images/delete_list.png" />
                                        </div>
                                    </a>
                                </span>
                                <span class="filter-item brand_item " data-fid="brand_id-1865">
                                    <a href="javascript:void(0);" class="handle action-select-filter">
                                        <img
                                            src="https://sundan.com/public/images/64/a5/ca/578064b3f9830b09932bfcd9bfc8a56ac646a62f.jpg?1552030845#w">爱适易（ISE）
                                    </a>
                                    <a href="javascript:void(0);" class="action-delete-filter">
                                        <div class="action-delete-img"><img
                                                src="https://sundan.com/themes/shundian/images/delete_list.png" />
                                        </div>
                                    </a>
                                </span>
                                <span class="filter-item brand_item " data-fid="brand_id-1783">
                                    <a href="javascript:void(0);" class="handle action-select-filter">
                                        能率（NORITZ） </a>
                                    <a href="javascript:void(0);" class="action-delete-filter">
                                        <div class="action-delete-img"><img
                                                src="https://sundan.com/themes/shundian/images/delete_list.png" />
                                        </div>
                                    </a>
                                </span>
                                <span class="filter-item brand_item " data-fid="brand_id-1791">
                                    <a href="javascript:void(0);" class="handle action-select-filter">
                                        <img
                                            src="https://sundan.com/public/images/e5/df/39/65b733f742b4476001536561058d77ff8463fc09.jpg?1572926476#w">NEBULA
                                    </a>
                                    <a href="javascript:void(0);" class="action-delete-filter">
                                        <div class="action-delete-img"><img
                                                src="https://sundan.com/themes/shundian/images/delete_list.png" />
                                        </div>
                                    </a>
                                </span>
                                <span class="filter-item brand_item " data-fid="brand_id-1845">
                                    <a href="javascript:void(0);" class="handle action-select-filter">
                                        <img
                                            src="https://sundan.com/public/images/95/8a/1a/b3ca5349e40b185da4690d21b4bd98a63a0c156a.jpg?1540888288#w">百富士
                                    </a>
                                    <a href="javascript:void(0);" class="action-delete-filter">
                                        <div class="action-delete-img"><img
                                                src="https://sundan.com/themes/shundian/images/delete_list.png" />
                                        </div>
                                    </a>
                                </span>
                                <span class="filter-item brand_item " data-fid="brand_id-1566">
                                    <a href="javascript:void(0);" class="handle action-select-filter">
                                        <img
                                            src="https://sundan.com/public/images/a1/c2/4f/9bae28c69021f20e1ae180eea6b051b8876e4ee5.png?1480106724#w">坚果（JmGO）
                                    </a>
                                    <a href="javascript:void(0);" class="action-delete-filter">
                                        <div class="action-delete-img"><img
                                                src="https://sundan.com/themes/shundian/images/delete_list.png" />
                                        </div>
                                    </a>
                                </span>
                                <span class="filter-item brand_item " data-fid="brand_id-1489">
                                    <a href="javascript:void(0);" class="handle action-select-filter">
                                        <img
                                            src="https://sundan.com/public/images/fa/12/f1/edb04ce7268d01728a3b814ce06e82cb292e898d.png?1480105914#w">
                                        哈曼卡顿（Harman/Kardon） </a>
                                    <a href="javascript:void(0);" class="action-delete-filter">
                                        <div class="action-delete-img"><img
                                                src="https://sundan.com/themes/shundian/images/delete_list.png" />
                                        </div>
                                    </a>
                                </span>
                                <span class="filter-item brand_item " data-fid="brand_id-258">
                                    <a href="javascript:void(0);" class="handle action-select-filter">
                                        <img
                                            src="https://sundan.com/public/images/f1/26/4d/a6cdcc50e6bd75d24aeb2dc57ac9d61e4941b596.jpg?1480107734#w">老板（ROBAM）
                                    </a>
                                    <a href="javascript:void(0);" class="action-delete-filter">
                                        <div class="action-delete-img"><img
                                                src="https://sundan.com/themes/shundian/images/delete_list.png" />
                                        </div>
                                    </a>
                                </span>
                                <span class="filter-item brand_item " data-fid="brand_id-305">
                                    <a href="javascript:void(0);" class="handle action-select-filter">
                                        <img
                                            src="https://sundan.com/public/images/70/25/90/40044aacebf1a7c873e45d9bd7ed7c80747deae9.jpg?1480104034#w">林内（Rinnai）
                                    </a>
                                    <a href="javascript:void(0);" class="action-delete-filter">
                                        <div class="action-delete-img"><img
                                                src="https://sundan.com/themes/shundian/images/delete_list.png" />
                                        </div>
                                    </a>
                                </span>
                                <span class="filter-item brand_item " data-fid="brand_id-357">
                                    <a href="javascript:void(0);" class="handle action-select-filter">
                                        <img
                                            src="https://sundan.com/public/images/e1/b3/bf/58c06902070a547829ee0216e2960fbed5709e35.jpg?1480104694#w">美诺（Miele）
                                    </a>
                                    <a href="javascript:void(0);" class="action-delete-filter">
                                        <div class="action-delete-img"><img
                                                src="https://sundan.com/themes/shundian/images/delete_list.png" />
                                        </div>
                                    </a>
                                </span>
                                <span class="filter-item brand_item " data-fid="brand_id-744">
                                    <a href="javascript:void(0);" class="handle action-select-filter">
                                        <img
                                            src="https://sundan.com/public/images/15/43/bc/925e384013a0986f8d287e1677dfefd0e3fe7d82.jpg?1459491763#w">东芝
                                        （TOSHIBA） </a>
                                    <a href="javascript:void(0);" class="action-delete-filter">
                                        <div class="action-delete-img"><img
                                                src="https://sundan.com/themes/shundian/images/delete_list.png" />
                                        </div>
                                    </a>
                                </span>
                                <span class="filter-item brand_item " data-fid="brand_id-913">
                                    <a href="javascript:void(0);" class="handle action-select-filter">
                                        <img
                                            src="https://sundan.com/public/images/65/b1/e2/8963312f59341106299a45a7eeed135b15e4a710.jpg?1480106713#w">樱花(SAKURA)
                                    </a>
                                    <a href="javascript:void(0);" class="action-delete-filter">
                                        <div class="action-delete-img"><img
                                                src="https://sundan.com/themes/shundian/images/delete_list.png" />
                                        </div>
                                    </a>
                                </span>
                                <span class="filter-item brand_item " data-fid="brand_id-1053">
                                    <a href="javascript:void(0);" class="handle action-select-filter">
                                        <img
                                            src="https://sundan.com/public/images/24/5e/5b/43a675d53d70b2d06cbac44748b8f8dba0bdc823.jpg?1480105725#w">AO史密斯（A.O.Smith）
                                    </a>
                                    <a href="javascript:void(0);" class="action-delete-filter">
                                        <div class="action-delete-img"><img
                                                src="https://sundan.com/themes/shundian/images/delete_list.png" />
                                        </div>
                                    </a>
                                </span>
                                <span class="filter-item brand_item " data-fid="brand_id-1119">
                                    <a href="javascript:void(0);" class="handle action-select-filter">
                                        <img
                                            src="https://sundan.com/public/images/1e/41/f6/cfb0e70d0273f690dd904b90bbac2ace48284042.png?1480105509#w">百乐满
                                    </a>
                                    <a href="javascript:void(0);" class="action-delete-filter">
                                        <div class="action-delete-img"><img
                                                src="https://sundan.com/themes/shundian/images/delete_list.png" />
                                        </div>
                                    </a>
                                </span>
                                <span class="filter-item brand_item " data-fid="brand_id-1282">
                                    <a href="javascript:void(0);" class="handle action-select-filter">
                                        <img
                                            src="https://sundan.com/public/images/4b/c1/a3/a3e41e3042041c5f17a05ee210873a2c05e4e7e5.jpg?1480104989#w">大金（DAIKIN）
                                    </a>
                                    <a href="javascript:void(0);" class="action-delete-filter">
                                        <div class="action-delete-img"><img
                                                src="https://sundan.com/themes/shundian/images/delete_list.png" />
                                        </div>
                                    </a>
                                </span>
                                <span class="filter-item brand_item " data-fid="brand_id-1308">
                                    <a href="javascript:void(0);" class="handle action-select-filter">
                                        <img
                                            src="https://sundan.com/public/images/18/4b/b1/c0922fdb6c2d2c4e6eb836ef0781a58aef5988f0.png?1480105364#w">多田
                                    </a>
                                    <a href="javascript:void(0);" class="action-delete-filter">
                                        <div class="action-delete-img"><img
                                                src="https://sundan.com/themes/shundian/images/delete_list.png" />
                                        </div>
                                    </a>
                                </span>
                                <span class="filter-item brand_item " data-fid="brand_id-1340">
                                    <a href="javascript:void(0);" class="handle action-select-filter">
                                        <img
                                            src="https://sundan.com/public/images/4f/a9/73/1105104ae41096bb70df3a059d228f7941db7408.jpg?1480105515#w">方太（FOTILE）
                                    </a>
                                    <a href="javascript:void(0);" class="action-delete-filter">
                                        <div class="action-delete-img"><img
                                                src="https://sundan.com/themes/shundian/images/delete_list.png" />
                                        </div>
                                    </a>
                                </span>
                                <span class="filter-item brand_item " data-fid="brand_id-1423">
                                    <a href="javascript:void(0);" class="handle action-select-filter">
                                        harman kardon </a>
                                    <a href="javascript:void(0);" class="action-delete-filter">
                                        <div class="action-delete-img"><img
                                                src="https://sundan.com/themes/shundian/images/delete_list.png" />
                                        </div>
                                    </a>
                                </span>
                                <span class="filter-item brand_item " data-fid="brand_id-1444">
                                    <a href="javascript:void(0);" class="handle action-select-filter">
                                        <img
                                            src="https://sundan.com/public/images/64/3a/7a/3600352ce893aed3345e8890c122cae17c5afb5e.png?1480105383#w">日立（HITACHI）
                                    </a>
                                    <a href="javascript:void(0);" class="action-delete-filter">
                                        <div class="action-delete-img"><img
                                                src="https://sundan.com/themes/shundian/images/delete_list.png" />
                                        </div>
                                    </a>
                                </span>
                                <span class="filter-item brand_item " data-fid="brand_id-1481">
                                    <a href="javascript:void(0);" class="handle action-select-filter">
                                        <img
                                            src="https://sundan.com/public/images/1f/c9/d5/2d659879f68db465a2d5752ac97148fc47c87b81.jpg?1548916466#w">利勃海尔（Liebherr）
                                    </a>
                                    <a href="javascript:void(0);" class="action-delete-filter">
                                        <div class="action-delete-img"><img
                                                src="https://sundan.com/themes/shundian/images/delete_list.png" />
                                        </div>
                                    </a>
                                </span>
                                <span class="filter-item brand_item " data-fid="brand_id-1913">
                                    <a href="javascript:void(0);" class="handle action-select-filter">
                                        <img
                                            src="https://sundan.com/public/images/17/11/3e/ddf8a6a551c19a399328c025ee6901c52a38f603.png?1565341540#w">格莱美（Gramovox）
                                    </a>
                                    <a href="javascript:void(0);" class="action-delete-filter">
                                        <div class="action-delete-img"><img
                                                src="https://sundan.com/themes/shundian/images/delete_list.png" />
                                        </div>
                                    </a>
                                </span>
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>