<div class="swiper-container container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="https://www.sundan.com/public/images/b2/d1/08/89400d6cc8420c027f5ee679fa7354255d394463.png?1630293286#w"
                alt="">
        </div>
        <div class="swiper-slide">
            <img src="https://www.sundan.com/public/images/a1/1c/39/26de68bb2a168a5b00a0ca7faf22e62adecc1119.jpg?1629702088#w"
                alt="">
        </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-pagination"></div>
</div>