<div class="swiper-container container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="https://www.sundan.com/public/images/66/45/f4/32f7661b4fde4479c2900f4f1283d3197b242e3b.jpg?1627540571#w"
                alt="">
        </div>
        <div class="swiper-slide">
            <img src="https://www.sundan.com/public/images/b8/0f/5b/a42207aa917a13ef5ad65739e9ac4efa9adbb300.jpg?1630572577#w"
                alt="">
        </div>
        <div class="swiper-slide">
            <img src="https://www.sundan.com/public/images/c0/41/45/246668fd932207dcc13141aeef8ca4e84432e089.jpg?1630044511#w"
                alt="">
        </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-pagination"></div>
</div>