<div class="swiper-container container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="https://www.sundan.com/public/images/82/00/b2/aad6d5a75aaa774470d7e32dea3e94a2ec9fcd91.jpg?1629445645#w"
                alt="">
        </div>
        <div class="swiper-slide">
            <img src="https://www.sundan.com/public/images/2f/44/62/7cfe490e5c21cd117d5a21aba41821132e4af889.jpg?1630053302#w"
                alt="">
        </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-pagination"></div>
</div>