<div class="swiper-container container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="https://www.sundan.com/public/images/ef/02/d9/bc8439e728701e1c2994d717c978b882adcc4a5f.jpg?1628473053#w"
                alt="">
        </div>
        <div class="swiper-slide">
            <img src="https://www.sundan.com/public/images/4d/3a/27/1c464e7d21aa88e14a7660a46e30c7f27f2a99a9.jpg?1628056700#w"
                alt="">
        </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-pagination"></div>
</div>