<div class="swiper-container container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="https://www.sundan.com/public/images/df/02/39/2b13a764959d808680e02f36eca4f591ead8257c.jpg?1630571670#w"
                alt="">
        </div>
        <div class="swiper-slide">
            <img src="https://www.sundan.com/public/images/8c/cc/52/b7d9c4fd9b0841213fd20f0e2ad4d0264d4fceef.png?1630053271#w"
                alt="">
        </div>
        <div class="swiper-slide">
            <img src="https://www.sundan.com/public/images/a0/bc/1f/8e49f8bfc296f0601d62fb14c07eacfbd3ff3d08.jpg?1630030914#w"
                alt="">
        </div>
        <div class="swiper-slide">
            <img src="https://www.sundan.com/public/images/01/e6/e4/96e05094ebffb142e1d274e7b2f5104605667412.jpg?1629689694#w"
                alt="">
        </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-pagination"></div>
</div>